@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Archivo", sans-serif;
}
:root {
  --white: white;
  --black: black;
  --text-background: #f1f1f1;

  --fz-title: clamp(28px, 6vw, 40px);
  --fz-title2: clamp(24px, 5vw, 35px);
  --fz-title3: clamp(20px, 4vw, 25px);
  --fw-title: 600;
  --fz-p: clamp(14px, 3vw, 16px);
}
h1 {
  color: var(--white);
  font-size: var(--fz-title);
  font-weight: normal;
}
h2 {
  font-size: var(--fz-title2);
  font-weight: var(--fw-title);
}
h3 {
  font-size: var(--fz-title3);
}
p {
  font-size: var(--fz-p);
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: black;
}
.submit {
  background-color: var(--black);
  color: var(--white);
  max-width: max-content;
  padding: 12px 12px;
}
#bars {
  display: none;
}
header {
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 30px;
  nav {
    ul {
      display: flex;
      gap: 40px;
      list-style: none;
      li {
        a {
          color: var(--black);
        }
      }
    }
  }
  img {
    width: 100px;
  }
}
footer {
  padding: 30px 15px 15px;
  background-color: var(--black);
  color: #ffffff;
  div {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
      display: flex;
      gap: 50px;
      a {
        color: #ffffff;
      }
    }
    img {
      width: 100px;
    }
  }
}
main {
  #events {
    min-height: 400px;
    background-image: url(/boum-boum/img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    > div {
      max-width: 650px;
      margin: auto;
      color: white;
      padding: 10% 0;
      p {
        margin: 20px 0 30px;
      }
      > div {
        a {
          background-color: var(--white);
          color: var(--black);
          padding: 12px 12px;
        }
      }
    }
  }
  #agency {
    background-color: var(--text-background);
    padding: 100px 15px;
    > div {
      max-width: 1140px;
      margin: auto;
      display: flex;
      flex-direction: row;
      gap: 35px;
      > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
      }
      > div:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        img {
          width: 100%;
        }
      }
    }
  }
  #services {
    padding: 100px 15px;
    max-width: 1140px;
    margin: auto;
    display: flex;
    gap: 30px;
    p {
      color: #6b7280;
    }
    > div:first-child {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 35px;
      article:first-child {
        grid-column: 1/3;
      }
      article:last-child {
        grid-column: 1/3;
      }
      article {
        background-color: var(--text-background);
        padding: 10px;
        h3 {
          padding-bottom: 10px;
        }
        p {
          padding-bottom: 10px;
        }
      }
    }
    > div:last-child {
      align-self: center;
      flex: 1 0 30%;
      article {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
      }
      a {
        align-self: center;
      }
    }
  }
  #portfolio {
    background-color: var(--text-background);
    > div {
      max-width: 1140px;
      margin: auto;
      padding: 100px 15px;
      h2 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      .portfolio-gallery {
        max-width: 860px;
        margin: auto;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .row {
          display: flex;
          justify-content: center;
          gap: 1rem;
        }
        .row > div {
          flex: 1;
        }
        .row img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
      }
    }
  }
  #contact {
    max-width: 1440px;
    margin: auto;
    padding: 100px 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    h2 {
      padding-bottom: 10px;
    }
    p {
      color: #7a7a7a;
    }
    form,
    div {
      gap: 15px;
    }
    form {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        justify-content: space-between;
      }
      #name,
      #email,
      #object {
        width: 100%;
        padding: 7px 3px;
      }
      a {
        max-width: none;
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  #agency {
    > div {
      flex-direction: column-reverse !important;
    }
  }
  #portfolio {
    .row {
      flex-direction: column;
    }
    .row > div {
      width: 100%;
    }
    .row img {
      height: 180px;
    }
  }
}

@media screen and (max-width: 767px) {
  .logo {
    width: 60px;
  }
  ul {
    display: none !important;
  }
  #bars {
    display: block;
  }
  #events {
    min-height: 310px !important;
  }
  #services {
    flex-direction: column-reverse;
    > div:first-child {
      display: block !important;
      article:nth-child(n + 1) {
        margin: 20px 0;
      }
    }
  }
  #portfolio {
    .row img {
      height: 150px;
    }
  }
  #contact {
    grid-template-columns: 1fr !important;
    form {
      div {
        flex-direction: column;
      }
    }
  }
  footer {
    > div {
      flex-direction: column;
      gap: 30px;
      a {
        text-align: center;
      }
    }
  }
}
