@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --black: #000;
  --white: #fff;
  --grenn: #006a19;
  --bleu: #02797e;
  --background: #f2f4f2;

  --ff-title: "Permanent Marker", cursive;
  --fw-title: 400;
  --fz-h1-h2: 36px;
  --lh-h1-h2: 57px;

  --fz-h3: 20px;
  --lh-h3: 22px;

  --ff-p: "Open Sans", sans-serif;
  --fz-p: 16px;
  --fw-p: normal;
  --lh-p: 24px;

  --ff-a: "Roboto", sans-serif;
  --fz-a: 16px;
  --fw-a: 600;
  --lh-a: 20px;
}
/* Common */
h1,
h2 {
  font-size: var(--fz-h1-h2);
  line-height: var(--lh-h1-h2);
  color: var(--grenn);
}
h3 {
  font-size: var(--fz-h3);
  line-height: var(--lh-h3);
  color: var(--bleu);
}
h1,
h2,
h3 {
  font-family: var(--ff-title);
  font-weight: var(--fw-h1);
}
p {
  font-family: var(--ff-p);
  font-size: var(--fz-p);
  font-weight: var(--fw-p);
  line-height: var(--lh-p);
}
ul {
  list-style: none;
}
a {
  font-family: var(--ff-a);
  font-size: var(--fz-a);
  font-weight: var(--fw-a);
  line-height: var(--lh-a);
  text-decoration: none;
  color: var(--black);
  &:hover {
    transition: 0.5s;
    color: var(--grenn);
  }
}
.active {
  color: var(--grenn);
}
.hr {
  border-top: 3px solid green;
  width: 80px;
}
.btn {
  color: var(--white);
  background-color: var(--grenn);
  padding: 12px 24px;
  border: none;
  border-radius: 3px;
}
.container-title {
  display: flex;
  align-items: center;
  gap: 25px;
}
label {
  font-family: var(--ff-p);
}
header {
  > div {
    text-align: center;
    img {
      width: 200px;
    }
  }
  nav {
    padding: 50px;
    ul {
      display: flex;
      justify-content: space-around;
    }
  }
}
footer {
  padding: 20px;
  a,
  p {
    text-align: center;
    color: var(--bleu);
    font-weight: normal;
  }
}
#home {
  #about {
    background-color: var(--background);
    > div {
      max-width: 1440px;
      margin: auto;
      padding: 40px 15px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
      article {
        padding-right: 17%;
        > div {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        p {
          padding-bottom: 10px;
        }
        a {
          display: flex;
          max-width: max-content;
          justify-self: end;
          margin: 30px 75px 0 0;
        }
      }
    }
    img {
      width: 100%;
    }
  }
  #skill {
    max-width: 1440px;
    margin: auto;
    padding: 150px 15px;
    > div:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
    }
    > div:nth-child(2) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 40px 0;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin: 0 15px;
        i {
          font-size: 70px;
          color: var(--bleu);
        }
      }
      > article:nth-child(-n + 3) {
        border-right: 2px solid var(--grenn);
      }
      article:nth-child(n + 1) > p {
        text-align: center;
      }
    }
  }
  #client {
    background-color: var(--background);
    .container-title {
      padding-bottom: 50px;
    }
    > div {
      max-width: 1440px;
      margin: auto;
      padding: 150px 15px;
      > div:nth-child(2) {
        display: flex;
        align-items: center;
        gap: 50px;
        img {
          width: 100%;
        }
      }
    }
  }
  #project {
    max-width: 1440px;
    margin: auto;
    padding: 150px 15px;
    .container-title {
      justify-content: center;
    }
    > div:nth-child(2) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
      padding-top: 50px;
      img {
        width: 100%;
        height: 280px;
        object-fit: cover;
      }
    }
    > div:nth-child(3) {
      margin-top: 75px;
      text-align: center;
    }
  }
  #contact {
    background-color: var(--background);
    > div {
      max-width: 1440px;
      margin: auto !important;
      padding: 125px 0;
      > div:nth-child(2) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        justify-items: center;
        padding: 35px 0;
        align-items: center;
        > div {
          margin-left: 22%;
        }
        > div > div > div:nth-child(n + 1) {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 12px;
        }
        > form {
          display: flex;
          flex-direction: column;
          gap: 20px;
          > div:nth-child(-n + 3) {
            display: flex;
            flex-direction: column;
            label {
              margin-bottom: 12px;
            }
            input[type="text"],
            textarea {
              padding: 12px;
            }
          }
          > div:nth-child(5) {
            margin-top: 50px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  #home {
    & #about {
      > div {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        article {
          padding: 0;
        }
      }
      img {
        height: 400px;
        object-fit: cover;
        object-position: 0 23%;
        border-radius: 12px 12px 0 0;
      }
    }
    #skill {
      & > div:nth-child(2) {
        grid-template-columns: repeat(2, 1fr);
        gap: 45px;
        > article:nth-child(-n + 3) {
          border-right: none;
        }
      }
    }
    #client {
      > div {
        > div:nth-child(n + 2) {
          display: flex;
          flex-wrap: wrap;
          align-content: space-between;
          gap: 35px;
          > a:nth-child(n + 1) {
            flex: 1 0 30%;
            margin: 11px;
          }
        }
      }
    }
    #project {
      > div:nth-child(2) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    #contact {
      > div {
        > div:nth-child(2) {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  header > nav > ul {
    display: none;
  }
  header > nav {
    padding: 0;
  }
}
