@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --text-color: #000;
  --text-nav: ##7a7a7a;
  --background: #fbebeb;

  --ff-title: "Prata", serif;
  --fz-title: 45px;
  --fw-title: normal;
  --ff-p: "Open Sans", sans-serif;
  --fz-p: 16px;
  --fw-p: normal;

  --card-box-shadow: 0px 0px 10px 0px #00000033;
  --card-radius: 12px;
}
h1,
h2 {
  font-family: var(--ff-title);
  font-size: var(--fz-title);
  font-weight: var(--fw-title);
}
h3 {
  font-family: var(--ff-title);
  font-size: 19px;
  font-weight: var(--fw-title);
}
p {
  font-family: var(--ff-p);
  font-size: var(--fz-p);
  font-weight: var(--fw-p);
}
a {
  font-family: var(--ff-p);
  text-decoration: none;
  color: var(--text-color);
}
/* A commencer */
