@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --text-color: #000;
  --background: #f7f7f7;
  --background-alt: #f1f1f1;

  --ff-title: "Prata", serif;
  --fz-title: 52px;
  --fw-title: normal;
  --ff-p: "Open Sans", sans-serif;
  --fz-p: 16px;
  --fw-p: normal;

  --card-box-shadow: 0px 0px 10px 0px #00000033;
  --card-radius: 12px;
}
h1,
h2 {
  font-family: var(--ff-title);
  font-size: var(--fz-title);
  font-weight: var(--fw-title);
}
h3 {
  font-family: var(--ff-title);
  font-size: 19px;
  font-weight: var(--fw-title);
}
p {
  font-family: var(--ff-p);
  font-size: var(--fz-p);
  font-weight: var(--fw-p);
}

a {
  font-family: var(--ff-p);
  text-decoration: none;
  color: var(--text-color);
}
.tag {
  max-width: max-content;
  padding: 6px 12px;
  color: var(--text-color);
  background-color: var(--background-alt);
  border-radius: var(--card-radius);
}
.submit {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  color: white;
  padding: 13px 13px;
  margin-top: 20px;
  border-radius: 3px;
}
header {
  max-width: 1920px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  img {
    width: 180px;
  }
  ul {
    display: flex;
    gap: 40px;
    list-style: none;
  }
}
footer {
  max-width: 1920px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  > div {
    display: flex;
    gap: 20px;
  }
}
#delights {
  max-width: 1440px;
  margin: auto;
  padding: 100px 15px;
  div:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  div:nth-child(2) {
    max-width: 1278px;
    margin: auto;
    img {
      width: 100%;
      height: 380px;
      border-radius: var(--card-radius);
      object-fit: cover;
      margin: 75px 0;
    }
  }
}
#specialties {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px 100px;
  .tag {
    justify-self: center;
  }
  h2 {
    text-align: center;
  }
  > p {
    text-align: center;
  }
  > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 50px 0;
    .card {
      box-shadow: var(--card-box-shadow);
      border-radius: var(--card-radius);
      img {
        border-radius: 12px 12px 0 0;
        width: 100%;
      }
      > div {
        padding-left: 10px;
        h3 {
          padding: 10px 0 5px;
        }
        p {
          padding: 5px 0;
        }
        p:nth-child(2) {
          font-size: 14px;
        }
        p:nth-child(3) {
          font-size: 24px;
        }
      }
    }
  }
}
#story {
  background-color: var(--background);
  padding: 100px 15px;
  > div {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    #container-story {
      h2 {
        padding: 7px 0 14px;
      }
      > div {
        margin: 30px 0;
      }
    }
    img {
      width: 100%;
      height: 380px;
      object-fit: cover;
      border-radius: var(--card-radius);
    }
  }
}
#contact {
  max-width: 540px;
  margin: auto;
  padding: 100px 15px;
  h2 {
    padding-bottom: 16px;
  }
  p {
    padding-bottom: 12px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    input[type="text"],
    input[type="email"],
    textarea {
      padding: 12px;
      border: 1px solid #69727d;
      border-radius: 3px;
      &::placeholder {
        font-family: "Open Sans", sans-serif;
        color: #7a7a7a;
        font-size: 14px;
      }
    }
    .submit {
      text-align: center;
    }
  }
}
@media screen and (max-width: 1024px) {
  #delights {
    div:nth-child(1) {
      grid-template-columns: repeat(1, 1fr);
      padding-right: 16%;
      h1 {
        padding-bottom: 12px;
      }
    }
  }
  #specialties {
    > div {
      grid-template-columns: repeat(2, 1fr);
      article:nth-child(3) {
        grid-column: 1/3;
      }
    }
  }
  #story {
    > div {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 767px) {
  :root {
    --fz-title: 43px;
  }
  header {
    flex-direction: column;
  }
  #specialties > div {
    grid-template-columns: repeat(1, 1fr);
    article:nth-child(3) {
      grid-column: auto;
    }
  }
  #contact {
    p {
      padding-bottom: 24px;
    }
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 15px;
  }
}
